<h1>Hi there, <%=@user.username%></h1>
<h4>CAMP CLUB member since: <%=@user.created_at.strftime("%B %Y")%></h4>

<h2>Your Visited Campsites</h2>

<%@reviews.each do |r| %>
    <p><%=link_to r.campsite.name, campsite_path(r.campsite) %></p>
<%end%>

<h2><%=link_to "Explore All Campsites", campsites_path%></h2>