<h1>Hi there, <%=@user.username%></h1>
<h4>CAMP CLUB member since: <%=@user.created_at.strftime("%B %Y")%></h4>

<h2>Your Visited Campsites</h2>

<%=link_to @reviews.first.campsite.name, campsite_path(@reviews.first.campsite)%>
<h2><%=link_to "Explore All Campsites", campsites_path%></h2>