
  <div>
    <%# <h1>Welcome to Camp Club</h1> %>
    <%# <%= image_tag "tent-transppp.png", width: 500, class: 'd-block mx-auto' %>
    <%# <h1><%=link_to "Explore Campsites", campsites_path</h1> %>
  </div>

