<!--<body class="home-page"> -->
  <div class="home-page">
    <h1>Welcome to Camp Club</h1>
    <%= image_tag "tent-transppp.png", width: 500, class: 'd-block mx-auto' %><br>
    <h1><%=link_to "Explore Campsites", campsites_path%></h1>
    </div>
<!-- </body> -->
