

<u><h1>All Reviews for <%=@campsite.name%></h1></u>

<%@reviews.each do |r|%>
    <p><li>Rating: <%= r.rating%></li>
    <li>Review: <%= r.review%></li>
    <li>Posted: <%= r.created_at.strftime("%B %Y")%></li></p>
    <%end%>