<h2>Review for: <%=link_to @review.campsite.name, campsite_path(@review.campsite)%></h2>
<h3>Note: <%=@review.review%></h3>
<h3>Rating: <%=@review.rating%></h3>

<%if @review.user_id == current_user.id %>
    <%= link_to "Edit Review", edit_review_path(@review)%>
<%end%>