<h1>Explore Campsites</h1>

<%@campsites.each do |c|%>
    <h3><li><%=link_to c.name, campsite_path(c)%> (<%=c.address%>)</li></h3>
<%end%>

<h2><%=link_to "Add a New Campsite", new_campsite_path%></h2>