<body>
<div class="card-group">
<% i = 0 %>
  <%@campsites.each do |c|%>
    <% i += 1 %>
    <div class="card">
    <img class="card-img-top" src=<%= @images[i]["urls"]["full"]%> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= c.name%></h5>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%=c.reviews.count%> reviews</small>
    </div>
  </div>
  <%end%>

</div>

<%# if someone navigates to page without login %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
</body>
